<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>
        {% block title %}

    {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Главная</a>
        <a class="nav-link" href="/about">О нас</a>
        <a class="nav-link" href="/contacts">Контакты</a>
          <a class="nav-link" href="/categories">Категории</a>
          <a class="nav-link" href="/courses">Курсы</a>
          <a class="nav-link" href="/create_course">Создать курс</a>
           <a class="nav-link" href="/student_list">Список студентов</a>
           <a class="nav-link" href="/student_create">Создать студента</a>
           <a class="nav-link" href="/student_add">Записаться на курс</a>
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
      </div>
    </div>
  </div>
</nav>

{% block content %}

{% endblock %}
</body>
</html>


